/**
 * Administrative UI ==================================================
 */
#user-admin-filter { display:none; }

div.container-inline {
  padding:10px 10px 9px;
  border-bottom:1px solid #eee;
  background:#e8e8e8;
  }

div.container-inline select { width:auto; }

div.container-inline h2.fieldset-title,
div.container-inline div.fieldset-content,
div.container-inline div.fieldset,
div.container-inline div.form-item {
  display:block;
  background:transparent;
  border:0px;
  padding:0px;
  }

  div.container-inline div.form-item { float:left; }

div.admin-required,
div.admin-dependencies { font-size:11px; }

span.admin-disabled { color: #800; }
span.admin-enabled { color: #080; }
span.admin-missing { color: #f00; }

td.module { font-weight:bold; }
td.permission { padding-left:20px; }

div.admin div.left,
div.admin div.right {
  float:left;
  width:50%;
  }

div.left div.admin-panel { margin-right:10px; }
div.right div.admin-panel { margin-left:10px; }

div.admin-panel p.description {
  font-size:11px;
  background:#eee;
  padding:0px 10px;
  margin:0px 0px 10px;
  }

dl.admin-list dd {
  font-size:11px;
  padding-left:10px;
  }
