/**
 * DesignKit defaults =================================================
 */
body { background-color:#d0dcdc; }

#footer,
#footer a { color:#666; }

.growl .messages,
.sidebar .block,
.sidebar .block .view-content .item-list,
.page-content .node,
.page-content div.block,
.page-content div.pager,
.page-content .view-content .item-list,
.page-content .view-content table,
.page-content > form {
  -moz-box-shadow:#9ca5a5 0px 0px 3px;
  -webkit-box-shadow:#9ca5a5 0px 1px 3px;
  }

  .sidebar .block .view-content .openlayers-popupbox .item-list {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    }

#branding {
  background-color:#333333;
  border-color:#2d2d2d;
  }

#branding a { color: #fff; }

#branding div.help-link a,
#branding div.admin-link a,
#branding ul.links a:hover {
  background-color:#262626;
  color: #fff;
  }

#branding ul.links li.active a,
#branding ul.links li a.active,
body.help #branding a.help-link {
  background-color: #fff;
  color:#262626;
  }

div.pager li.pager-current {
  background-color:#dd4422;
  color:#fff;
  }

div.pager li a:hover {
  background-color:#eea190;
  color:#fff;
  }

div.item-list h3 { color:#dd4422; }

div.data-taxonomy-tags ul.data-taxonomy-tags li a,
div.sidebar div.view-mn-search-saved div.views-field-title a,
#canvas div.utility-block {
  background-color:#f9e2dd;
  border-color:#f6d0c7;
  color: #883b2a;
  }

#canvas div.utility-block,
#canvas div.utility-block h2.block-title,
#canvas div.utility-block div.form-item label { color: #883b2a; }

#canvas div.utility-block input.form-submit {
  background-color:#dd4422;
  border-color:#c63d1e;
  color:#fff;
  }

/**
 * Map color ==========================================================
 */
div.openlayers-views-map,
div.openlayers-views-map div.openlayers-map {
  background-color:#b3b3b3;
}
