/**
 * Feed item lists ====================================================
 */
.page-content .view-content .item-list,
.sidebar .view-content .item-list {
  background:#fff;
  margin-bottom:10px;
  }

.sidebar .openlayers-popupbox .item-list,
#content-region-wrapper .openlayers-popupbox .item-list {
  margin-bottom:0px;
  }

div.item-list {
  background:transparent;
  border:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }

div.item-list h3 {
  background:transparent;
  color:#999;
  border-bottom:1px solid #ddd;
  padding:5px 9px 4px;

  text-transform:uppercase;
  font-weight:bold;
  font-size:11px;
  }

  body#widget div.item-list h3 {
    padding-left:5px;
    }

div.item-list ul li {
  border-color:#ddd;
  padding:0px;
  margin:0px;
  }

  /* Last child is split out because IE7 will ignore the *entire* selector */
  div.item-list ul li:last-child {
    border-color:#ddd;
    padding:0px;
    margin:0px;
    }

.feeditem {
  position:relative;
  margin:0px;
  }

  #content-wrapper .feeditem {
    background:transparent url(../images/tools.gif) 100% 0% repeat-y;
    padding:0px 30px 0px 0px;
    }

  .feeditem-meta,
  .feeditem-title,
  .feeditem-content,
  .feeditem-other { padding:0px 10px; }

.feeditem-meta {
  padding:5px 10px;
  font-size:11px;
  }

  #content-wrapper .feeditem-meta {
    background:transparent url(../images/hrule_dotted.png) 0% 100% repeat-x;
    }

  .feeditem-meta .views-field-timestamp-1 { float:right; }

.feeditem-title {
  padding-top:10px;
  font-size:16px;
  }

.feeditem-content { overflow:hidden; }

  .feeditem-twitter div.feeditem-content {
    padding:10px;
    font-size:16px;
    }

.feeditem-other { font-size:11px; }
.feeditem-other label { margin-right:10px; }

.feeditem-links {
  position:absolute;
  width:30px;
  right:0px;
  top:0px;
  }

  .feeditem-links:hover { z-index:1000; }

  .feeditem-links a {
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;

    float:none;
    display:block;
    width:30px;
    height:30px;
    line-height:30px;

    font-size:11px;
    color:#fff;

    overflow:hidden;
    text-indent:-999px;
    }

    div.feeditem-links a.data-node-add { background:url(../images/sprite.png) -370px 0px no-repeat; }
    div.feeditem-links a.data-node-remove { display:none; background:url(../images/sprite.png) -370px -30px no-repeat; }
    div.feeditem-links a.simpleshare { background:url(../images/sprite.png) -370px -270px no-repeat; }
    div.feeditem-links div.mark-link a { background:url(../images/sprite.png) -370px -330px no-repeat; }
    div.feeditem-links div.marked a { background:url(../images/sprite.png) -370px -360px no-repeat; }

    div.feeditem-links a:hover,
    div.feeditem-links div.mark-link a:hover {
      background-color:#444;
      width:160px;
      text-indent:0px;
      overflow:hidden;
      padding-left:30px;
      }

.views-mode-list .views-field-timestamp-1 span.field-content{
  display: block;
  float: left;
  clear: left;
}
.views-mode-list .views-field-timestamp-1 label{
  display: block;
  float: left;
}

/**
 * Condensed items.
 * For list view mode, dashboard listing blocks, and widgets.
 */
body.views-mode-list div.feeditem-meta {
  position:absolute;
  left:10px;
  top:10px;
  border:0px;
  padding:0px;
  background:transparent;
  }

  body.views-mode-list div.feeditem-meta div.views-field-timestamp-1 { float:none; }

body.views-mode-list .feeditem-other,
body.views-mode-list .feeditem-content,
body.views-mode-list .feeditem-title {
  padding-left:100px;
  height:20px;
  overflow:hidden;
  white-space:nowrap;
  }

  body.views-mode-list .feeditem-title,
  div.block .feeditem-title {
    padding-top:10px;
    padding-bottom:10px;
    }

    div.block .feeditem-meta {
      padding:5px 10px 0px 10px;
      }

    div.block .feeditem-title {
      padding:0px 10px 5px 10px;
      overflow:hidden;
      white-space:nowrap;
      }

    body.views-mode-trash .feeditem-title {
      padding-bottom:30px;
      }

  body.views-mode-list .feeditem-content,
  div.block .feeditem-content,
  body#widget .feeditem-content { padding-bottom:10px; }

  body.views-mode-list .feeditem-content img,
  div.block .feeditem-content img,
  body#widget .feeditem-content img { display:none; }

  /* Don't trim tweets */
  body.views-mode-list div.feeditem-twitter div.feeditem-content,
  div.block div.feeditem-twitter div.feeditem-content,
  body#widget div.feeditem-twitter div.feeditem-content {
    white-space:normal;
    height:auto;
    }

/* Widget specific */
body#widget div.view-filters { display:none; }

body#widget .feeditem-meta {
  padding:0px 5px;
  }

body#widget .feeditem-title {
  padding:0px 5px;
  font-size:12px;
  overflow:hidden;
  white-space:nowrap;
  }
